<a href="https://colab.research.google.com/github/Sebastiao199/datathon_realestate/blob/main/EDA%20-%20Data20_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [8]:
df_2022 = pd.read_csv('/content/drive/MyDrive/Datathon - ML/valeursfoncieres-2022-s1 (1).csv', sep='|')
df_2021 = pd.read_csv('/content/drive/MyDrive/Datathon - ML/valeursfoncieres-2021.txt', sep='|')
df_2020 = pd.read_csv('/content/drive/MyDrive/Datathon - ML/valeursfoncieres-2020 (2).txt', sep='|')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (18,23,24,26,28,31,33,41) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (18,23,24,26,28,30,31,33,41) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df_2022

,Code service sages,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,1,2.0,Appartement,NaN,24.0,1.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,84.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,88.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,1,2.0,Appartement,NaN,140.0,3.0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2022,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,510.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,21/06/2022,Vente,...,NaN,2,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
1429089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,21/06/2022,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
1429090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,30/06/2022,Vente,...,NaN,1,2.0,Appartement,NaN,15.0,1.0,NaN,NaN,NaN
1429091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10/02/2022,Adjudication,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
1429092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,29/04/2022,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN

In [4]:
df_2022[(df_2022['Date mutation']=='06/04/2022') &(df_2022['Code departement']==95) & (df_2022['Valeur fonciere']=='7401581,00')].sort_values(by='Valeur fonciere', ascending=False).iloc[:,8:30].head(10)

,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,...,Prefixe de section,Section,No plan,No Volume,1er lot,Surface Carrez du 1er lot,2eme lot,Surface Carrez du 2eme lot,3eme lot,Surface Carrez du 3eme lot
1363324,06/04/2022,Vente,"7401581,00",4.0,NaN,RUE,0362,DES RIVES DE L'OISE,95340.0,PERSAN,...,NaN,AI,219,NaN,154.0,NaN,NaN,NaN,NaN,NaN
1363379,06/04/2022,Vente,"7401581,00",4.0,NaN,RUE,0362,DES RIVES DE L'OISE,95340.0,PERSAN,...,NaN,AI,219,NaN,157.0,NaN,NaN,NaN,NaN,NaN
1363387,06/04/2022,Vente,"7401581,00",4.0,NaN,RUE,0362,DES RIVES DE L'OISE,95340.0,PERSAN,...,NaN,AI,219,NaN,132.0,NaN,NaN,NaN,NaN,NaN
1363386,06/04/2022,Vente,"7401581,00",4.0,NaN,RUE,0362,DES RIVES DE L'OISE,95340.0,PERSAN,...,NaN,AI,219,NaN,111.0,NaN,NaN,NaN,NaN,NaN
1363385,06/04/2022,Vente,"7401581,00",6.0,NaN,RUE,0362,DES RIVES DE L'OISE,95340.0,PERSAN,...,NaN,AI,219,NaN,207.0,NaN,NaN,NaN,NaN,NaN
1363384,06/04/2022,Vente,"7401581,00",6.0,NaN,RUE,0362,DES RIVES DE L'OISE,95340.0,PERSAN,...,NaN,AI,219,NaN,206.0,NaN,NaN,NaN,NaN,NaN
1363383,06/04/2022,Vente,"7401581,00",4.0,NaN,RUE,0362,DES RIVES DE L'OISE,95340.0,PERSAN,...,NaN,AI,219,NaN,110.0,NaN,NaN,NaN,NaN,NaN
1363382,06/04/2022,Vente,"7401581,00",4.0,NaN,RUE,0362,DES RIVES DE L'OISE,95340.0,PERSAN,...,NaN,AI,219,NaN,109.0,NaN,NaN,NaN,NaN,NaN
1363381,06/04/2022,Vente,"7401581,00",4.0,NaN,RUE,0362,DES RIVES DE L'OISE,95340.0,PERSAN,...,NaN,AI,219,NaN,155.0,NaN,NaN,NaN,NaN,NaN
1363380,06/04/2022,Vente,"7401581,00",4.0,NaN,RUE,0362,DES RIVES DE L'OISE,95340.0,PERSAN,...,NaN,AI,219,NaN,156.0,NaN,NaN,NaN,NaN,NaN

In [5]:
df_2022 = df_2022[['Date mutation', 'Nature mutation', 'Valeur fonciere',
      'Code postal',
       'Commune', 'Code departement', 'Code commune',
       'Section',  'Code type local', 'Type local',
       'Surface reelle bati', 'Nombre pieces principales']]
df_2022

,Date mutation,Nature mutation,Valeur fonciere,Code postal,Commune,Code departement,Code commune,Section,Code type local,Type local,Surface reelle bati,Nombre pieces principales
0,03/01/2022,Vente,"55000,00",1000.0,BOURG-EN-BRESSE,1,53,AM,2.0,Appartement,24.0,1.0
1,03/01/2022,Vente,"143000,00",1480.0,SAVIGNEUX,1,398,ZE,NaN,NaN,NaN,NaN
2,03/01/2022,Vente,"143000,00",1480.0,SAVIGNEUX,1,398,ZE,NaN,NaN,NaN,NaN
3,03/01/2022,Vente,"143000,00",1480.0,SAVIGNEUX,1,398,ZE,2.0,Appartement,140.0,3.0
4,04/01/2022,Vente,"300,00",1480.0,MESSIMY SUR SAONE,1,243,A,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1429088,21/06/2022,Vente,"423000,00",75015.0,PARIS 15,75,115,AC,3.0,Dépendance,0.0,0.0
1429089,21/06/2022,Vente,"423000,00",75015.0,PARIS 15,75,115,AC,3.0,Dépendance,0.0,0.0
1429090,30/06/2022,Vente,"104650,00",75011.0,PARIS 11,75,111,BS,2.0,Appartement,15.0,1.0
1429091,10/02/2022,Adjudication,"51000,00",75016.0,PARIS 16,75,116,BY,3.0,Dépendance,0.0,0.0
1429092,29/04/2022,Vente,"200000,00",75014.0,PARIS 14,75,114,BT,3.0,Dépendance,0.0,0.0

In [6]:
df_2022[(df_2022['Date mutation']=='06/04/2022') &(df_2022['Code departement']==95)].sort_values(by='Valeur fonciere', ascending=False).head(20)

,Date mutation,Nature mutation,Valeur fonciere,Code postal,Commune,Code departement,Code commune,Section,Code type local,Type local,Surface reelle bati,Nombre pieces principales
1359367,06/04/2022,Vente,"85000,00",95200.0,SARCELLES,95,585,AB,3.0,Dépendance,0.0,0.0
1359366,06/04/2022,Vente,"85000,00",95200.0,SARCELLES,95,585,AB,2.0,Appartement,67.0,4.0
1360506,06/04/2022,Vente,"82500,00",95770.0,MONTREUIL-SUR-EPTE,95,429,ZA,NaN,NaN,NaN,NaN
1360348,06/04/2022,Vente en l'état futur d'achèvement,"815256,00",95610.0,ERAGNY-SUR-OISE,95,218,BD,NaN,NaN,NaN,NaN
1360343,06/04/2022,Vente en l'état futur d'achèvement,"815256,00",95610.0,ERAGNY-SUR-OISE,95,218,BD,NaN,NaN,NaN,NaN
1360344,06/04/2022,Vente en l'état futur d'achèvement,"815256,00",95610.0,ERAGNY-SUR-OISE,95,218,BD,NaN,NaN,NaN,NaN
1360345,06/04/2022,Vente en l'état futur d'achèvement,"815256,00",95610.0,ERAGNY-SUR-OISE,95,218,BD,NaN,NaN,NaN,NaN
1360346,06/04/2022,Vente en l'état futur d'achèvement,"815256,00",95610.0,ERAGNY-SUR-OISE,95,218,BD,NaN,NaN,NaN,NaN
1360347,06/04/2022,Vente en l'état futur d'achèvement,"815256,00",95610.0,ERAGNY-SUR-OISE,95,218,BD,NaN,NaN,NaN,NaN
1363410,06/04/2022,Vente,"7401581,00",95340.0,PERSAN,95,487,AI,3.0,Dépendance,0.0,0.0
1363351,06/04/2022,Vente,"7401581,00",95340.0,PERSAN,95,487,AI,2.0,Appartement,56.0,3.0
1363352,06/04/2022,Vente,"7401581,00",95340.0,PERSAN,95,487,AI,2.0,Appartement,58.0,3.0
1363353,06/04/2022,Vente,"7401581,00",95340.0,PERSAN,95,487,AI,2.0,Appartement,41.0,2.0
1363354,06/04/2022,Vente,"7401581,00",95340.0,PERSAN,95,487,AI,2.0,Appartement,57.0,3.0
1363355,06/04/2022,Vente,"7401581,00",95340.0,PERSAN,95,487,AI,2.0,Appartement,57.0,3.0
1363357,06/04/2022,Vente,"7401581,00",95340.0,PERSAN,95,487,AI,2.0,Appartement,57.0,3.0
1363359,06/04/2022,Vente,"7401581,00",95340.0,PERSAN,95,487,AI,2.0,Appartement,57.0,3.0
1363358,06/04/2022,Vente,"7401581,00",95340.0,PERSAN,95,487,AI,2.0,Appartement,40.0,2.0
1363349,06/04/2022,Vente,"7401581,00",95340.0,PERSAN,95,487,AI,2.0,Appartement,74.0,4.0
1363360,06/04/2022,Vente,"7401581,00",95340.0,PERSAN,95,487,AI,2.0,Appartement,57.0,3.0

In [9]:
df_2021 = df_2021[['Date mutation', 'Nature mutation', 'Valeur fonciere',
      'Code postal',
       'Commune', 'Code departement', 'Code commune',
       'Section',  'Code type local', 'Type local',
       'Surface reelle bati', 'Nombre pieces principales']]
df_2020 = df_2020[['Date mutation', 'Nature mutation', 'Valeur fonciere',
      'Code postal',
       'Commune', 'Code departement', 'Code commune',
       'Section',  'Code type local', 'Type local',
       'Surface reelle bati', 'Nombre pieces principales']]

In [10]:
df_total

NameError: ignored

In [11]:
df_2022 = df_2022[(df_2022['Code departement']==75) | (df_2022['Code departement']==92)| (df_2022['Code departement']==93) | (df_2022['Code departement']==94) | (df_2022['Code departement']==77) | (df_2022['Code departement']==78) | (df_2022['Code departement']==91)| (df_2022['Code departement']==95)]
df_2022 = df_2022[(df_2022['Nature mutation'] =='Vente') &(df_2022['Type local']!='Local industriel. commercial ou assimilé') & (df_2022['Type local']!='Dépendance') & (df_2022['Type local'].notna())]
df_2022 = df_2022[df_2022['Valeur fonciere'].notna()]
#df_2022 = df_2022.drop_duplicates()
df_2022

,Code service sages,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
999954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,03/01/2022,Vente,...,NaN,0,1.0,Maison,NaN,77.0,4.0,S,NaN,720.0
999960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,06/01/2022,Vente,...,NaN,0,1.0,Maison,NaN,150.0,8.0,S,NaN,181.0
999962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2022,Vente,...,NaN,0,1.0,Maison,NaN,136.0,4.0,AG,PARC,662.0
999963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2022,Vente,...,NaN,0,1.0,Maison,NaN,136.0,4.0,S,NaN,500.0
999964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2022,Vente,...,NaN,1,2.0,Appartement,NaN,61.0,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,17/05/2022,Vente,...,NaN,1,2.0,Appartement,NaN,11.0,1.0,NaN,NaN,NaN
1429080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,22/06/2022,Vente,...,NaN,3,2.0,Appartement,NaN,40.0,2.0,NaN,NaN,NaN
1429081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,29/06/2022,Vente,...,NaN,1,2.0,Appartement,NaN,172.0,6.0,NaN,NaN,NaN
1429087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,21/06/2022,Vente,...,NaN,2,2.0,Appartement,NaN,43.0,2.0,NaN,NaN,NaN
1429090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,30/06/2022,Vente,...,NaN,1,2.0,Appartement,NaN,15.0,1.0,NaN,NaN,NaN

In [12]:
df_2021 = df_2021[(df_2021['Code departement']==75) | (df_2021['Code departement']==92)| (df_2021['Code departement']==93) | (df_2021['Code departement']==94) | (df_2021['Code departement']==77) | (df_2021['Code departement']==78) | (df_2021['Code departement']==91)| (df_2021['Code departement']==95)]
df_2021 = df_2021[(df_2021['Nature mutation'] =='Vente') &(df_2021['Type local']!='Local industriel. commercial ou assimilé') & (df_2021['Type local']!='Dépendance') & (df_2021['Type local'].notna())]
df_2021 = df_2021[df_2021['Valeur fonciere'].notna()]
#df_2021 = df_2021.drop_duplicates()
df_2021

,Date mutation,Nature mutation,Valeur fonciere,Code postal,Commune,Code departement,Code commune,Section,Code type local,Type local,Surface reelle bati,Nombre pieces principales
3327814,05/01/2021,Vente,"352000,00",77115.0,SIVRY-COURTRY,77,453,C,1.0,Maison,120.0,3.0
3327815,05/01/2021,Vente,"352000,00",77115.0,SIVRY-COURTRY,77,453,C,1.0,Maison,120.0,3.0
3327825,05/01/2021,Vente,"81000,00",77210.0,AVON,77,14,A,2.0,Appartement,57.0,4.0
3327827,08/01/2021,Vente,"165000,00",77127.0,LIEUSAINT,77,251,AD,2.0,Appartement,66.0,3.0
3327829,08/01/2021,Vente,"235000,00",77330.0,OZOIR LA FERRIERE,77,350,BI,1.0,Maison,41.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4375215,29/03/2021,Vente,"230000,00",75002.0,PARIS 02,75,102,AO,2.0,Appartement,15.0,1.0
4375216,04/03/2021,Vente,"400000,00",75004.0,PARIS 04,75,104,AN,2.0,Appartement,26.0,1.0
4375217,04/03/2021,Vente,"400000,00",75004.0,PARIS 04,75,104,AN,2.0,Appartement,25.0,1.0
4375218,12/03/2021,Vente,"383000,00",75004.0,PARIS 04,75,104,AO,2.0,Appartement,30.0,2.0
4375219,17/03/2021,Vente,"260000,00",75002.0,PARIS 02,75,102,AP,2.0,Appartement,37.0,2.0

In [13]:
df_2020 = df_2020[(df_2020['Code departement']==75) | (df_2020['Code departement']==92)| (df_2020['Code departement']==93) | (df_2020['Code departement']==94) | (df_2020['Code departement']==77) | (df_2020['Code departement']==78) | (df_2020['Code departement']==91)| (df_2020['Code departement']==95)]
df_2020 = df_2020[(df_2020['Nature mutation'] =='Vente') &(df_2020['Type local']!='Local industriel. commercial ou assimilé') & (df_2020['Type local']!='Dépendance') & (df_2020['Type local'].notna())]
df_2020 = df_2020[df_2020['Valeur fonciere'].notna()]
#df_2020 = df_2020.drop_duplicates()
df_2020

,Date mutation,Nature mutation,Valeur fonciere,Code postal,Commune,Code departement,Code commune,Section,Code type local,Type local,Surface reelle bati,Nombre pieces principales
2668898,02/01/2020,Vente,"247000,00",77680.0,ROISSY-EN-BRIE,77,390,AC,2.0,Appartement,104.0,5.0
2668902,07/01/2020,Vente,"205000,00",77340.0,PONTAULT COMBAULT,77,373,D,2.0,Appartement,54.0,2.0
2668903,06/01/2020,Vente,"257000,00",77170.0,SERVON,77,450,AI,1.0,Maison,107.0,5.0
2668904,02/01/2020,Vente,"320500,00",77380.0,COMBS LA VILLE,77,122,BB,1.0,Maison,85.0,5.0
2668906,02/01/2020,Vente,"146000,00",77170.0,BRIE COMTE ROBERT,77,53,AS,2.0,Appartement,39.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3509079,16/12/2020,Vente,"1937500,00",75004.0,PARIS 04,75,104,AW,2.0,Appartement,32.0,2.0
3509080,16/12/2020,Vente,"1937500,00",75004.0,PARIS 04,75,104,AW,2.0,Appartement,29.0,2.0
3509081,16/12/2020,Vente,"1937500,00",75004.0,PARIS 04,75,104,AW,2.0,Appartement,40.0,2.0
3509082,16/12/2020,Vente,"1937500,00",75004.0,PARIS 04,75,104,AW,2.0,Appartement,24.0,1.0
3509083,16/12/2020,Vente,"1937500,00",75004.0,PARIS 04,75,104,AW,2.0,Appartement,40.0,2.0

In [14]:
df_total = pd.concat([df_2022, df_2021, df_2020], axis=0)
df_total = df_total.reset_index()
df_total

,index,Code service sages,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,999954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,03/01/2022,...,NaN,0.0,1.0,Maison,NaN,77.0,4.0,S,NaN,720.0
1,999960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,06/01/2022,...,NaN,0.0,1.0,Maison,NaN,150.0,8.0,S,NaN,181.0
2,999962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,07/01/2022,...,NaN,0.0,1.0,Maison,NaN,136.0,4.0,AG,PARC,662.0
3,999963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,07/01/2022,...,NaN,0.0,1.0,Maison,NaN,136.0,4.0,S,NaN,500.0
4,999964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,07/01/2022,...,NaN,1.0,2.0,Appartement,NaN,61.0,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477827,3509079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16/12/2020,...,NaN,NaN,2.0,Appartement,NaN,32.0,2.0,NaN,NaN,NaN
477828,3509080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16/12/2020,...,NaN,NaN,2.0,Appartement,NaN,29.0,2.0,NaN,NaN,NaN
477829,3509081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16/12/2020,...,NaN,NaN,2.0,Appartement,NaN,40.0,2.0,NaN,NaN,NaN
477830,3509082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16/12/2020,...,NaN,NaN,2.0,Appartement,NaN,24.0,1.0,NaN,NaN,NaN
477831,3509083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16/12/2020,...,NaN,NaN,2.0,Appartement,NaN,40.0,2.0,NaN,NaN,NaN

In [15]:
df_total['Valeur fonciere'] = df_total['Valeur fonciere'].str.replace(',','.')
df_total['Valeur fonciere'] = df_total['Valeur fonciere'].astype(float)
df_total['Surface reelle bati'] = df_total['Surface reelle bati'].astype(float)
df_total

,index,Code service sages,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,999954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,03/01/2022,...,NaN,0.0,1.0,Maison,NaN,77.0,4.0,S,NaN,720.0
1,999960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,06/01/2022,...,NaN,0.0,1.0,Maison,NaN,150.0,8.0,S,NaN,181.0
2,999962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,07/01/2022,...,NaN,0.0,1.0,Maison,NaN,136.0,4.0,AG,PARC,662.0
3,999963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,07/01/2022,...,NaN,0.0,1.0,Maison,NaN,136.0,4.0,S,NaN,500.0
4,999964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,07/01/2022,...,NaN,1.0,2.0,Appartement,NaN,61.0,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477827,3509079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16/12/2020,...,NaN,NaN,2.0,Appartement,NaN,32.0,2.0,NaN,NaN,NaN
477828,3509080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16/12/2020,...,NaN,NaN,2.0,Appartement,NaN,29.0,2.0,NaN,NaN,NaN
477829,3509081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16/12/2020,...,NaN,NaN,2.0,Appartement,NaN,40.0,2.0,NaN,NaN,NaN
477830,3509082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16/12/2020,...,NaN,NaN,2.0,Appartement,NaN,24.0,1.0,NaN,NaN,NaN
477831,3509083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16/12/2020,...,NaN,NaN,2.0,Appartement,NaN,40.0,2.0,NaN,NaN,NaN

In [16]:
df_total_group = df_total.groupby(['Valeur fonciere', 'Commune','Code departement',	'Code commune', 'Type local', 'Date mutation']).agg({'Surface reelle bati': [np.count_nonzero, np.max], 'Nombre pieces principales':'max'})
df_total_group.reset_index(inplace=True)
#df_total_group['Surface reelle bati'].value_counts()#sort_values(by='Surface reelle bati', ascending=False)
df_total_group.columns= ['_'.join(col) for col in df_total_group.columns.values]
df_total_group = df_total_group[df_total_group['Surface reelle bati_count_nonzero']==1] #excluded count'Surface realle bati'>1 which means it's a building
df_total_group

,Valeur fonciere_,Commune_,Code departement_,Code commune_,Type local_,Date mutation_,Surface reelle bati_count_nonzero,Surface reelle bati_amax,Nombre pieces principales_max
0,1.500000e-01,FONTENAY LE FLEURY,78,242,Appartement,08/04/2022,1,43.0,2.0
1,1.500000e-01,PARIS 18,75,118,Appartement,06/01/2020,1,40.0,2.0
3,1.000000e+00,ASNIERES-SUR-SEINE,92,4,Maison,21/12/2020,1,85.0,5.0
4,1.000000e+00,ATHIS MONS,91,27,Appartement,25/03/2021,1,47.0,2.0
6,1.000000e+00,AULNAY SOUS BOIS,93,5,Maison,14/10/2020,1,80.0,5.0
...,...,...,...,...,...,...,...,...,...
401360,1.654502e+08,AUVERS-SUR-OISE,95,39,Maison,23/12/2020,1,58.0,3.0
401379,1.654502e+08,MAGNY-EN-VEXIN,95,355,Maison,23/12/2020,1,117.0,6.0
401382,1.654502e+08,MERIEL,95,392,Maison,23/12/2020,1,70.0,2.0
401394,1.776000e+08,EVRY-COURCOURONNES,91,228,Appartement,30/09/2020,1,62.0,3.0
401398,4.352450e+08,BRUNOY,91,114,Maison,14/10/2020,1,122.0,5.0

In [17]:
df_total_group = df_total_group.rename(columns={'Valeur fonciere_':'Valeur fonciere', 'Commune_':'Commune','Code departement_':'Code departement', 'Code commune_':'Code commune', 'Type local_':'Type local', 'Date mutation_':'Date mutation', 
                               'Surface reelle bati_amax':'Surface reelle bati', 'Nombre pieces principales_max':'Nombre pieces principales'})
df_total_group = df_total_group[['Date mutation','Valeur fonciere', 'Commune', 'Code departement', 'Code commune', 'Type local', 'Surface reelle bati','Nombre pieces principales']]
df_total_group

,Date mutation,Valeur fonciere,Commune,Code departement,Code commune,Type local,Surface reelle bati,Nombre pieces principales
0,08/04/2022,1.500000e-01,FONTENAY LE FLEURY,78,242,Appartement,43.0,2.0
1,06/01/2020,1.500000e-01,PARIS 18,75,118,Appartement,40.0,2.0
3,21/12/2020,1.000000e+00,ASNIERES-SUR-SEINE,92,4,Maison,85.0,5.0
4,25/03/2021,1.000000e+00,ATHIS MONS,91,27,Appartement,47.0,2.0
6,14/10/2020,1.000000e+00,AULNAY SOUS BOIS,93,5,Maison,80.0,5.0
...,...,...,...,...,...,...,...,...
401360,23/12/2020,1.654502e+08,AUVERS-SUR-OISE,95,39,Maison,58.0,3.0
401379,23/12/2020,1.654502e+08,MAGNY-EN-VEXIN,95,355,Maison,117.0,6.0
401382,23/12/2020,1.654502e+08,MERIEL,95,392,Maison,70.0,2.0
401394,30/09/2020,1.776000e+08,EVRY-COURCOURONNES,91,228,Appartement,62.0,3.0
401398,14/10/2020,4.352450e+08,BRUNOY,91,114,Maison,122.0,5.0

In [36]:
df_total_group['Valeur fonciere'] = df_total_group['Valeur fonciere'].astype(float)
df_total_group['Surface reelle bati'] = df_total_group['Surface reelle bati'].astype(float)
df_total_group['prix m2'] = df_total_group['Valeur fonciere']/df_total_group['Surface reelle bati']
df_total_group.columns

Index(['Date mutation', 'Valeur fonciere', 'Commune', 'Code departement',
       'Code commune', 'Type local', 'Surface reelle bati',
       'Nombre pieces principales', 'prix m2'],
      dtype='object')

In [37]:
df_final = df_total_group[['Date mutation', 'Valeur fonciere', 'Surface reelle bati', 'prix m2',
       'Nombre pieces principales', 'Type local', 'Commune', 'Code commune',
       'Code departement']]
df_final

,Date mutation,Valeur fonciere,Surface reelle bati,prix m2,Nombre pieces principales,Type local,Commune,Code commune,Code departement
0,08/04/2022,1.500000e-01,43.0,3.488372e-03,2.0,Appartement,FONTENAY LE FLEURY,242,78
1,06/01/2020,1.500000e-01,40.0,3.750000e-03,2.0,Appartement,PARIS 18,118,75
3,21/12/2020,1.000000e+00,85.0,1.176471e-02,5.0,Maison,ASNIERES-SUR-SEINE,4,92
4,25/03/2021,1.000000e+00,47.0,2.127660e-02,2.0,Appartement,ATHIS MONS,27,91
6,14/10/2020,1.000000e+00,80.0,1.250000e-02,5.0,Maison,AULNAY SOUS BOIS,5,93
...,...,...,...,...,...,...,...,...,...
401360,23/12/2020,1.654502e+08,58.0,2.852590e+06,3.0,Maison,AUVERS-SUR-OISE,39,95
401379,23/12/2020,1.654502e+08,117.0,1.414105e+06,6.0,Maison,MAGNY-EN-VEXIN,355,95
401382,23/12/2020,1.654502e+08,70.0,2.363575e+06,2.0,Maison,MERIEL,392,95
401394,30/09/2020,1.776000e+08,62.0,2.864516e+06,3.0,Appartement,EVRY-COURCOURONNES,228,91
401398,14/10/2020,4.352450e+08,122.0,3.567582e+06,5.0,Maison,BRUNOY,114,91

In [41]:
df_final = df_final[(df_final['prix m2']>1000) &(df_final['prix m2']<20000)]

In [42]:
df_final['Year'] = df_final['Date mutation'].apply(lambda x :x[6:10])
df_final.reset_index(inplace=True)
df_final.drop(['index'], axis = 1, inplace = True) 
df_final

,Date mutation,Valeur fonciere,Surface reelle bati,prix m2,Nombre pieces principales,Type local,Commune,Code commune,Code departement,Year
0,29/07/2020,8000.0,5.0,1600.000000,1.0,Appartement,PARIS 09,109,75,2020
1,18/11/2020,9000.0,8.0,1125.000000,0.0,Appartement,SAINT-OUEN-SUR-SEINE,70,93,2020
2,10/07/2020,9010.0,7.0,1287.142857,1.0,Appartement,PARIS 09,109,75,2020
3,13/12/2021,10000.0,8.0,1250.000000,1.0,Appartement,ISSY-LES-MOULINEAUX,40,92,2021
4,09/10/2020,10000.0,9.0,1111.111111,1.0,Appartement,PARIS 05,105,75,2020
...,...,...,...,...,...,...,...,...,...,...
361821,02/06/2020,7211499.0,375.0,19230.664000,8.0,Appartement,PARIS 16,116,75,2020
361822,10/06/2021,7250000.0,688.0,10537.790698,9.0,Maison,NEUILLY-SUR-SEINE,51,92,2021
361823,17/07/2020,7576370.0,393.0,19278.295165,10.0,Appartement,PARIS 08,108,75,2020
361824,22/12/2021,8100000.0,649.0,12480.739599,8.0,Appartement,PARIS 07,107,75,2021
361825,22/11/2021,8538500.0,469.0,18205.756930,11.0,Maison,NEUILLY-SUR-SEINE,51,92,2021

In [43]:
df_final_22 = df_final[df_final['Year']=='2022']
df_final_22.reset_index(inplace=True)
df_final_22.drop(['index'], axis = 1, inplace = True) 
df_final_22

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Date mutation,Valeur fonciere,Surface reelle bati,prix m2,Nombre pieces principales,Type local,Commune,Code commune,Code departement,Year
0,25/01/2022,10000.0,9.0,1111.111111,1.0,Appartement,PARIS 09,109,75,2022
1,08/02/2022,15000.0,6.0,2500.000000,1.0,Appartement,PARIS 09,109,75,2022
2,09/03/2022,17500.0,12.0,1458.333333,1.0,Appartement,SAINT-CLOUD,64,92,2022
3,15/04/2022,17800.0,17.0,1047.058824,1.0,Appartement,PONTOISE,500,95,2022
4,12/04/2022,18000.0,17.0,1058.823529,1.0,Maison,ANGERVILLE,16,91,2022
...,...,...,...,...,...,...,...,...,...,...
70549,17/01/2022,5735500.0,427.0,13432.084309,4.0,Appartement,PARIS 16,116,75,2022
70550,21/01/2022,6190000.0,349.0,17736.389685,9.0,Maison,PARIS 16,116,75,2022
70551,16/06/2022,6900000.0,463.0,14902.807775,13.0,Appartement,PARIS 17,117,75,2022
70552,17/02/2022,7000000.0,538.0,13011.152416,8.0,Appartement,NEUILLY-SUR-SEINE,51,92,2022
70553,29/03/2022,7000000.0,469.0,14925.373134,6.0,Appartement,PARIS 16,116,75,2022

In [44]:
df_final_22.to_csv('df_2022_ml_2.csv')

In [46]:
df_final.to_csv('df_final_20_22.csv')

In [ ]:
df_2022[df_2022['Date mutation']=='06/04/2022'].sort_values(by='Valeur fonciere', ascending=False)